export ZSH="{{ ansible_user_dir }}/.oh-my-zsh"
ZSH_THEME="{{ zsh_theme | default('robbyrussell') }}"

plugins=(
  git
  {% for plugin in zsh_plugins %}
  {{ plugin }}
  {% endfor %}
)

source $ZSH/oh-my-zsh.sh
source $HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

# 自定义配置
if [ -f ~/custom_aliases.zsh ]; then
    source ~/custom_aliases.zsh
fi